

  header 
  {
    color: darkred ;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190813/pngtree-oktoberfest-background-with-glasses-of-beer-border-and-green-background-image_290538.jpg);
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-position: center;
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    background-size: cover;
  }

  header ::before
  {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.3);
  }

nav 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Helvetica, sans-serif;
    height: 200px;
}

body
{
    background-color: #ffd275;
    font-style: Source Code Pro;
    margin-left: 40px;
    width: 66.67vw;
}


header img
{
    width: 780px;
    height: 500px;
}

footer {
    background-color: #ffc006;
    height: 50px;
    width: 66.67vw;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 15px;
    text-align: center;
}

a:hover 
{
    background-color: rgb(217, 0, 0);
    color:rgba(2, 39, 189, 0.974);

    text-transform: uppercase;
    text-decoration: none;
  }

  a 
  {
    font-weight: bold;
    font-size: 24px;
    color:rgba(2, 39, 189, 0.974);
    padding: 5px 15px;
    border: 2px solid rgb(217, 0, 0);
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none; 
  }
article
{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

article img
{
    width: 300px;
    margin-left: 50px;
    margin-top: 70px;
    margin-right: 50px;
}

div
{
    border: 50px;
    border-color:  rgba(177, 8, 19, 0.789);
}

